<h2>CELEBRITIES</h2>
{{#each celebrities}}
    <div>
        <li>Name: {{name}}</li>
        <li>Occupation : {{occupation}}</li>
        <li>Catch phrase : {{catchPhrase}}</li>
        <br>
    </div>
{{/each}}