<h2>NEW CELEBRITY</h2>
<form action="/celebrities/create" method = "post">
    <label for = "name">Name</label>
    <input id = "name" name = "name" type="text" value = {{name}}>
    <label for = "occupation">Occupation</label>
    <input id = "occupation" name = "occupation" type="text" value = {{occupation}}>
    <label for = "catchPhrase">Catch phrase</label>
    <input id = "catchPhrase" name = "catchPhrase" type="text" value = {{catchPhrase}}>
    <input type = "submit" value = "Create">
</form>