{{#with movie}}
<h2>{{title}}</h2>
    <div>
        <ul>
            <li>Genre : {{genre}}</li>
            <li>Plot : {{plot}}</li>
            <li>Cast :{{cast}}</li>
        </ul>
    </div>
{{/with}}